#title {
  text-align: center;
  margin: 50px 0px 20px 0px;
}

h2 {
  color: #66bfbf;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5 rem;
  font-weight: normal;
  padding-bottom: 10px;
}

#header {
  color: #66bfbf;
  font-family: "Montserrat", sans-serif;
  font-size: 2px;
  font-weight: normal;
  padding-bottom: 10px;
}

#input-demo {
  width: 80%;
  text-align: center;
  margin-left: 10%;
}

#demo-list {
  width: 80%;
  text-align: center;
  margin-left: 10%;
}

#demo-key {
  margin-right: 100px;
}

#demo-description {
  margin-right: 50px;
}

.dropbtn {
  background-color: #66bfbf;
  color: #66bfbf;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #66bfbf;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #66bfbf;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #66bfbf;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #66bfbf;
}

.show {
  display: block;
}

button {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

button:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

body {
  color: #40514e;
  margin: 0;
  font-family: "Marriweather', serif;
};

input:invalid {
  border: 2px dashed red;
}
input:invalid:focus {
  background-image: linear-gradient(rgb(180, 0, 33), lightgreen);
};